---
import Header from "../components/header.astro";
import About from "../components/about.astro";
import Contact from "../components/contact.astro";
import Skills from "../components/skills.astro";
import Background from "../components/background.astro";
import Wave from "../components/wave.astro";
import Projects from "../components/projects.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/bmp" href="/Portfolio/cawtoz.webp" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Carlos Torres</title>
	</head>
	<body>
        <Background/>
        <Header/>
        <section id="about"><About/></section>
        <section id="projects"><Projects/></section>
        <section id="skills"><Skills/></section>
        <footer>
            <Wave/>
            <section id="contact"><Contact/></section>
        </footer>
        
	</body>
</html>

<style is:global>
    * { 
        font-family: 'Open Sans', monospace;
        color: #e3e3e3;
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        margin: 0px;
        padding: 0px;
    }

    html {
        background-color: #0f0f10;
        scroll-behavior: smooth;
    }

    .title {
        color: #bd1b1b;
        font-size: 50px;
        margin: 0px;
        font-style: normal;
        font-weight: 800;
        margin-bottom: 30px;
        font-family: 'Open Sans', monospace;
    }

    section {
        padding: 70px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #contact {
        padding: 0px;
        padding-bottom: 100px;
        background-color: #161618;
    }

    @media(max-width: 400px) {
        .title {
            font-size: 40px;
        }
    }

</style>
