<section>
    <h1>Hola, Soy <span class="name">Carlos Torres</span></h1>
    <p>Desarrollador de Software especializado en <span class="languaje">Java</span> y <span class="languaje">Kotlin</span>.
    <div>
        <a href="#projects">Ver Proyectos</a>
        <a href="#contact">Contáctame</a>
    </div>
</section>

<style>

    section {
        text-align: center;
        padding: 20%;
    }

    h1 {
        font-size: 40px;
        margin: 0px;
    }

    p {
        font-size: 18px;
        margin-bottom: 60px;
    }

    .name {
        color: #bd1b1b;
        font-family: "Pixelify Sans", monospace;
        font-size: 50px;
        font-weight: 600;
    }

    .languaje {
        color: #bd1b1b;
    }

    a {
        color: #dbdbd7;
        background-color: #bd1b1b;
        border-radius: 5px;
        padding: 12px;
        margin: 8px;
        text-decoration: none;
        display: inline-block;
        width: 150px;
    }

    a:hover {
        transition: background-color 0.3s ease-in-out;
        background-color: #971717;
    }

</style>
