<img src="/Portfolio/cawtoz.png" alt="cawtoz">
<h1>Hola, Soy 
    <span class="name">Carlos Torres</span>
</h1>
<p>Desarrollador de Software especializado en <span class="languaje">Java</span> y <span class="languaje">Kotlin</span>.
<div>
    <a href="#projects">Ver Proyectos</a>
    <a href="#contact">Contáctame</a>
</div>

<style>

    img {
        border-radius: 100%;
        max-width: 500px;
        width: 70%;
        margin: 30px;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    }

    h1 {
        font-size: 40px;
        margin: 0px;
    }

    p {
        font-size: 18px;
        margin-bottom: 60px;
    }

    .name {
        color: #bd1b1b;
        font-family: "Pixelify Sans", monospace;
        font-size: 50px;
        font-weight: 600;
    }

    .languaje {
        color: #bd1b1b;
    }

    a {
        color: #ffffff;
        background-color: #bd1b1b;
        border-radius: 5px;
        padding: 12px;
        margin: 8px;
        text-decoration: none;
        display: inline-block;
        width: 150px;
    }

    a:hover {
        transition: background-color 0.3s ease-in-out;
        background-color: #971717;
    }

    @media(max-width: 650px) {
        h1 {
            display: flex;
            flex-direction: column;
            font-size: 30px;
        }
        
        .name {
            font-size: 40px;
        }
        
    }

</style>
