<ul class="background">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
 </ul>

 <style>
    @keyframes animate {
        0%{
            transform: translateY(0) rotate(0deg);
            opacity: 1;
            border-radius: 0;
        }
        100%{
            transform: translateY(-1000px) rotate(720deg);
            opacity: 0;
            border-radius: 50%;
        }
    }

    .background {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        background: #0f0f10;
        overflow: hidden;
        z-index: -100;
    }
    .background li {
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        background: rgba(255, 255, 255, 0.2);
        animation: animate 19s linear infinite;
    }
    .background li:nth-child(0) {
        left: 62%;
        width: 191px;
        height: 191px;
        bottom: -191px;
        animation-delay: 1s;
    }
    .background li:nth-child(1) {
        left: 14%;
        width: 128px;
        height: 128px;
        bottom: -128px;
        animation-delay: 1s;
    }
    .background li:nth-child(2) {
        left: 87%;
        width: 101px;
        height: 101px;
        bottom: -101px;
        animation-delay: 3s;
    }
    .background li:nth-child(3) {
        left: 21%;
        width: 157px;
        height: 157px;
        bottom: -157px;
        animation-delay: 11s;
    }
    .background li:nth-child(4) {
        left: 6%;
        width: 151px;
        height: 151px;
        bottom: -151px;
        animation-delay: 15s;
    }
    .background li:nth-child(5) {
        left: 80%;
        width: 138px;
        height: 138px;
        bottom: -138px;
        animation-delay: 21s;
    }
    .background li:nth-child(6) {
        left: 17%;
        width: 125px;
        height: 125px;
        bottom: -125px;
        animation-delay: 9s;
    }
    .background li:nth-child(7) {
        left: 88%;
        width: 174px;
        height: 174px;
        bottom: -174px;
        animation-delay: 2s;
    }
    .background li:nth-child(8) {
        left: 41%;
        width: 142px;
        height: 142px;
        bottom: -142px;
        animation-delay: 8s;
    }
    .background li:nth-child(9) {
        left: 14%;
        width: 148px;
        height: 148px;
        bottom: -148px;
        animation-delay: 37s;
    }
 </style>
