<h2>Contacto</h2>
<form action="/Portfolio" method="POST">
    <div class="row">
        <div class="name">
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name">
        </div>
        <div class="email">
            <label for="email">Correo</label>
            <input type="text" name="email" id="email">
        </div>
    </div>
    <div class="message">
        <label for="message">Mensaje</label>
        <textarea name="message" id="message"></textarea>
    </div>
    <button type="submit">Enviar</button>
</form>

<style>

    form {
        width: 70%;
        border-radius: 10px;
        padding: 30px;
    }

    h2 {
        color: #bd1b1b;
        font-size: 50px;
        margin: 0px;
        font-weight: 600;
        margin-bottom: 50px;
        font-family: 'Pixelify Sans', monospace;
    }

    div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .row {
        display: flex;
        flex-direction: row;
    }
    
    label {
        text-align: left;
    }

    input, textarea {
        border: none;
        padding: 20px;
        border-radius: 5px;
        background-color: #222224;
        color: #dbdbd7;
        font-family: 'Fira Code', monospace;
        resize: none;
        margin-top: 5px;
        margin-bottom: 20px;
        box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 1);
    }

    .name {
        margin-right: 10px;
    }

    .email { 
        margin-left: 10px;
    }

    #message {
        height: 100px;
    }

    input:focus, textarea:focus {
        outline-color: #bd1b1b;
        outline-style: solid;
        outline-width: 2px;
    }

    button {
        color: #dbdbd7;
        background-color: #bd1b1b;
        border-radius: 5px;
        padding: 12px;
        width: 100%;
        border: none;
        font-family: 'Fira Code', monospace;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
    }

    button:hover {
        transition: background-color 0.3s ease-in-out;
        background-color: #971717;
    }

    @media(max-width: 850px) {
        .row {
            flex-direction: column;
        }
        .name {
            margin-right: 0px;
        }

        .email { 
            margin-left: 0px;
        }
    }

    

</style>
