---
interface Props {
    title: string;
    href: string;
    imgSrc: string;
    imgAlt: string;
}

const { title, href, imgSrc, imgAlt} = Astro.props as Props;
--- 
<a href={href} target="_blank">
  <div class="card">

      <img class="img" src={imgSrc} alt={imgAlt} loading="lazy"/>
      <p class="name">{title}<p>

      <div class="skills"><slot></slot></div>
        
        <div class="icon">
          <svg color="rgb(224, 223, 220)" style="user-select: none; width: 100%; height: 100%; display: inline-block; fill: rgb(224, 223, 220); flex-shrink: 0; cursor: hover;" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg"><g color="rgb(224, 223, 220)"><circle opacity="0.2" r="96" cy="128" cx="128"></circle><circle stroke-width="16" stroke-miterlimit="10" stroke="rgb(224, 223, 220)" fill="none" r="96" cy="128" cx="128"></circle><polyline stroke-width="16" stroke-linejoin="round" stroke-linecap="round" stroke="rgb(224, 223, 220)" fill="none" points="134.1 161.9 168 128 134.1 94.1"></polyline><line stroke-width="16" stroke-linejoin="round" stroke-linecap="round" stroke="rgb(224, 223, 220)" fill="none" y2="128" x2="168" y1="128" x1="88">
              <title>View project</title>    
              </line></g>
          </svg>
        </div>

  </div>
</a>

<style>

.skills {
  display: flex;
  width: 50px;
  gap: 15px;
}

.card {
  --main-color: #dedede;
  --sub-color: #bd1b1b;
  --bg-color: #161618;
  --accent-color: #bd1b1b;
  position: relative;
  width: 250px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  transition: all 0.2s;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}

.img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.name {
  text-align: left;
  margin-top: 10px;
}

a {
  text-decoration: none;
}

.card::before {
  content: '';
  width: 99%;
  height: 99%;
  background: var(--sub-color);
  position: absolute;
  z-index: -1;
  top: 1px;
  left: 1px;
  border-radius: 25px;
  transition: all 0.3s;
}

.icon {
  width: 40px;
  height: 40px;
  transform: rotate(-45deg);
  transition: all 0.3s;
  margin-left: auto;
}

.icon svg {
  width: 100%;
  height: 100%;
}

.icon g {
  fill: var(--main-color);
}

.card:hover {

  box-shadow: 0px 0px 20px -5px #000;

  .icon {
    transform: rotate(0);
    g { fill: var(--accent-color); }
    circle, polyline, line { stroke: var(--accent-color); }
  }

}

.card:hover::before {
  transform: rotate(10deg);
  box-shadow: 0px 0px 20px -5px #000;
}

@media(max-width: 450px) {
        .card {
            width: 210px;
        }  
    }
</style>
