---
import Loading from "./loading.astro";
import Project from "./project.astro";
import ProjectSkill from "./projectSkill.astro";
---
<section id="projects">
    <h2 class="title">Proyectos</h2>
    <div>
        <Project 
            title="Dine API" 
            href="https://github.com/cawtoz/dine-api"
            imgSrc="/projects/dine-api.webp"
            imgAlt="dine-api">
            <ProjectSkill src="/skills/kotlin.webp" alt="Kotlin"/>
            <ProjectSkill src="/skills/ktor.webp" alt="Ktor"/>
            <ProjectSkill src="/skills/postgresql.webp" alt="PostgreSQL"/>
            <ProjectSkill class="skill" src="/skills/intellij.webp" alt="IntelliJ"/>
            
        </Project>
        <Project 
            title="Dine Docs" 
            href="https://cawtoz.github.io/dine-docs"
            imgSrc="/projects/dine-docs.webp"
            imgAlt="dine-docs">
            <ProjectSkill src="/skills/html.webp" alt="HTML"/>
            <ProjectSkill src="/skills/css.webp" alt="CSS"/>
            <ProjectSkill src="/skills/astro.webp" alt="Astro"/>
            <ProjectSkill src="/skills/vscode.webp" alt="VS Code"/>
        </Project>
        <Project 
            title="AutoPark" 
            href="https://github.com/cawtoz/spring-parking-management"
            imgSrc="/projects/autopark.webp"
            imgAlt="portfolio">
            <ProjectSkill src="/skills/java.webp" alt="Java"/>
            <ProjectSkill src="/skills/springboot.webp" alt="Spring Boot"/>
            <ProjectSkill src="/skills/mysql.webp" alt="MySQL"/>
            <ProjectSkill src="/skills/html.webp" alt="HTML"/>
            <ProjectSkill src="/skills/css.webp" alt="CSS"/>
            <ProjectSkill src="/skills/bootstrap.webp" alt="Bootstrap"/>
            <ProjectSkill src="/skills/intellij.webp" alt="IntelliJ"/>
        </Project>
        <Project 
            title="Portafolio" 
            href="https://github.com/cawtoz/portfolio"
            imgSrc="/projects/portfolio.webp"
            imgAlt="portfolio">
            <ProjectSkill src="/skills/html.webp" alt="HTML"/>
            <ProjectSkill src="/skills/css.webp" alt="CSS"/>
            <ProjectSkill src="/skills/astro.webp" alt="Astro"/>
            <ProjectSkill src="/skills/vscode.webp" alt="VS Code"/>
        </Project>
    </div>
</section>

<style>

    div {
        display: flex;
        gap: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .skill {
        width: 20px;
        padding-left: 10px;
    }
</style>
