---
import Loading from "./loading.astro";
---

<h2>Proyectos</h2>
<Loading/>

<style>
    h2 {
        color: #bd1b1b;
        font-size: 50px;
        margin: 0px;
        font-weight: 600;
        margin-bottom: 50px;
        font-family: 'Pixelify Sans', monospace;
    }
</style>
