---
import Skill from "./skill.astro";
---

<h2 class="title">Habilidades</h2>
<div class="skills-container">
    <Skill src="/skills/kotlin.webp" alt="Kotlin"/>
    <Skill src="/skills/ktor.webp" alt="Ktor"/>
    <Skill src="/skills/java.webp" alt="Java"/>
    <Skill src="/skills/springboot.webp" alt="Spring Boot"/>
    <Skill src="/skills/typescript.webp" alt="TypeScript"/>
    <Skill src="/skills/mongodb.webp" alt="MongoDB"/>
    <Skill src="/skills/sql.webp" alt="MySQL"/>
    <Skill src="/skills/postgresql.webp" alt="PostgreSQL"/>
    <Skill src="/skills/git.webp" alt="Git"/>
    <Skill src="/skills/html.webp" alt="HTML"/>
    <Skill src="/skills/css.webp" alt="CSS"/>
    <Skill src="/skills/bootstrap.webp" alt="Bootstrap"/>
    <Skill src="/skills/astro.webp" alt="Astro"/>
    <Skill src="/skills/intellij.webp" alt="IntelliJ"/>
    <Skill src="/skills/vscode.webp" alt="VS Code"/>
</div>

<style>
    div {
        max-width: 970px;
        display: flex;
        gap: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    @media(max-width: 800px) {
        div {
            gap: 40px;
        }  
    }

</style>
