---
import Skill from "./skill.astro";
---

<h2>Habilidades</h2>
<div class="skills-container">
    <Skill src="/Portfolio/skills/kotlin.png" alt="Kotlin" href="https://kotlinlang.org/"/>
    <Skill src="/Portfolio/skills/java.png" alt="Java" href="https://www.java.com/es/"/>
    <Skill src="/Portfolio/skills/typescript.png" alt="TypeScript" href="https://www.typescriptlang.org/"/>
    <Skill src="/Portfolio/skills/mongodb.png" alt="MongoDB" href="https://www.mongodb.com/"/>
    <Skill src="/Portfolio/skills/postgresql.png" alt="PostgreSQL" href="https://www.postgresql.org/"/>
    <Skill src="/Portfolio/skills/git.png" alt="Git" href="https://git-scm.com/"/>
    <Skill src="/Portfolio/skills/html.png" alt="HTML" href="https://developer.mozilla.org/es/docs/Web/HTML"/>
    <Skill src="/Portfolio/skills/css.png" alt="CSS" href="https://developer.mozilla.org/es/docs/Web/CSS"/>
    <Skill src="/Portfolio/skills/astro.png" alt="Astro" href="https://astro.build/" />
    <Skill src="/Portfolio/skills/intellij.png" alt="IntelliJ" href="https://www.jetbrains.com/es-es/idea/" />
    <Skill src="/Portfolio/skills/vscode.png" alt="VS Code" href="https://code.visualstudio.com/" />
</div>

<style>
    h2 {
        color: #bd1b1b;
        font-size: 50px;
        margin: 0px;
        font-weight: 600;
        margin-bottom: 50px;
        font-family: 'Pixelify Sans', monospace;
    }
    div {
        max-width: 970px;
        display: flex;
        gap: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    @media(max-width: 800px) {
        div {
            gap: 40px;
        }  
    }

</style>
