---
import Skill from "./skill.astro";
---

<h2>Habilidades</h2>
<div class="skills-container">
    <Skill src="/Portfolio/kotlin.png" alt="Kotlin"/>
    <Skill src="/Portfolio/java.png" alt="Java"/>
    <Skill src="/Portfolio/mongodb.png" alt="MongoDB"/>
    <Skill src="/Portfolio/mysql.png" alt="MySQL"/>
</div>

<style>
    h2 {
        color: #bd1b1b;
        font-size: 50px;
        margin: 0px;
        font-weight: 600;
        margin-bottom: 50px;
        font-family: 'Pixelify Sans', monospace;
    }
    div {
        display: flex;
        gap: 50px;
        justify-content: center;
        flex-wrap: wrap;
    }
</style>
